@font-face {
  font-family: belwe;
  src: url(fonts/Belwe-Bold.ttf)
}


html, body {
            height: 100%;
            margin: 0px;
            padding: 0px;
            color: #fff;
        }

/*-------header-----------*/

header {
  position: absolute;
  width: 100%;
  height: 64px;
}

header img {
  margin: 16px 0 0 16px;
  height: 80%;
}


h1 {
    font-family: belwe;
    color: #9199AB;
    text-align: center;
      text-shadow:
         -1px -1px 0 #fff,
          1px -1px 0 #fff,
          -1px 1px 0 #fff,
           1px 1px 0 #fff
}

.title_page {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9199AB;
}

.title_page h1 {
  z-index: 4;
}

.undertaker{
  height: 500px;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
}
.undertaker img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* ARROW ANIMATION */
/*-----------------------------*/
.arrow{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}



/*-------Chapmion--------*/

.champion {
  min-height: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 88px;
  background-color: #9199AB;
}

.test-image {
  display:flex;
  align-items: center;
  justify-content: center;
}

.current_holder img {
  width: 80%;
  height: 80%;
}


.champion h1 {
  margin-bottom: 36px;
}

#belt_holder_logo {
  margin-bottom: 36px;
  display:flex;
  align-items: center;
  justify-content: center;
}

#current_holder {
  font-family: Belwe;
  font-size: 36px;
  color: #9199AB;
  text-shadow:
       -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
         1px 1px 0 #fff

}




/*-------CONCEPT---------*/

.concept {
  min-height: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;

}

.concept h1 {
  margin-top: 88px;
  margin-bottom: 36px;
  color: #fff;
  text-shadow: -1px -1px 0 #527356,
  1px -1px 0 #527356,
  -1px 1px 0 #527356,
  1px 1px 0 #527356
}

.description {
  color: #696969;
  max-width: 810px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
  text-align: left !important;
  align-items: left;
}



/*--------TABLE---------*/

.game_log {
  position: relative;
  background-color: #fff;
  margin-bottom: 48px;
}

/* Section Header */
.game_log h1 {
  margin-bottom: 24px;
  color: #fff;
  text-shadow: -1px -1px 0 #527356,
  1px -1px 0 #527356,
  -1px 1px 0 #527356,
  1px 1px 0 #527356
}


.dataframe {
  display: block;
  overflow-y: scroll;
  max-width: 768px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  margin-bottom: 88px;
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse;
}

thead tr {
  background-color: #527356;
  text-align: left !important;
}

thead tr th{
  padding-bottom: 10px;
  padding-top: 10px;
  border:0px;
  color: #fff;
  font-weight: normal;
}


thead tr th:nth-child(1), tbody tr td:nth-child(1) {
  width: 210px;
  padding-left: 10px;
}

thead tr th:nth-child(2), thead tr th:nth-child(3), tbody tr td:nth-child(2), tbody tr td:nth-child(3)  {
  width: 155px;
}

thead tr th:nth-child(4), tbody tr td:nth-child(4) {
  width: 160px;
}

thead tr th:nth-child(5), tbody tr td:nth-child(5) {
  width: 110px;
}

.dataframe tbody{
  display:block;
  width: 100%;
  height: 500px;
  overflow: auto;
}

tbody tr td{
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0px;
  color: #696969;
}

tr{
  /* text-align: left !important; */
  padding-top: 4px;
  padding-bottom: 4px;
}

tbody tr:hover {
  background-color: #ececff;
}

@media screen and (max-width: 810px) {
  table {
    border-left: 0px;
    border-right: 0px;
  }
}

@media screen and (max-width: 600px){
  /* #current_holder h1 {
    margin-bottom: 36px;
  } */

  h1 {
    font-size: 2rem !important;
    /* text-align: center; */
  }

  #game_data table, p {
    font-size: 85%;
  }

  .champion img {
    width: 70%;
    height: 70%;
  }
}


footer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding-bottom: 48px;
  padding-top: 48px;
  background-color: #9199AB;
}

footer a {
  color: #FFFFFF;
}
