html, body {
            height: 100%;
            margin: 0;
        }

.body-class {
  background-color: #527356;
  color: #fff;
}

h1 {
  text-align: center;
}

.title_page {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.game_data_style {
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff !important;
  padding: 0px;
  margin: 0px;
}

.container .game_data_style {
  background-color: #fff !important
  margin: 0px !important;
  padding: 0px !important;
}

.champion {
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game_data table {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 18px;
  padding-top: 30px;
  padding-right: 15px;
  margin: 0;
  color: black;
  font-size: 80%;
}

.game_data_style h1 {
  color: #527356 !important;
}

tbody tr td:nth-child(1) {
  width: 200px;
  /* padding-left: 40px; */
}

tbody tr td:nth-child(2) {
  width: 160px;
}

tbody tr td:nth-child(3) {
  width: 160px;
}

tbody tr td:nth-child(4) {
  width: 160px;
}

tbody tr td:nth-child(5) {
  width: 130px;
}

table {
  border: 0px;
  border-color:#fff;
  text-align: left;
}

th {
  text-align: left !important;
}


.arrow{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
